{% extends 'base.html' %}

{% block content %}

<h1>DC Character Directory</h1>

<p>Select a character below.</p>

<!-- pairs is a list that must be sent here by a route function
     The list will contain 45 pairs -->

     <!--       later editing change         -->
     <!--  url_for( 'detail', num=pair[0] )  -->
     <!--    inside double curly braces      -->

    <ul>
    {% for pair in pairs %}
        <li><a href="/dcdc/char/{{ pair[0] }}.html">{{ pair[1] }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
